/* INDEX */
.body--index {
  background-color: red;
  text-align: center;
}

.header {
  margin: 3% 10% 3% 10%;
}

.content {
  background-color: green;
  margin: 3% 10% 3% 10%;
  padding: 3% 0 3% 0;
  border-radius: 1.5rem;

}

/* SEARCH */

label {
  display: block;
}

.body__search {
  text-align: center;
}

.div--result {
  margin: 0 20% 0 45%;
  padding: 3% 0 3% 0;
  text-align: left;
}
